<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BoardGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BoardGame.Properties.Settings>
            <setting name="combo1" serializeAs="String">
                <value />
            </setting>
            <setting name="text1" serializeAs="String">
                <value />
            </setting>
            <setting name="text2" serializeAs="String">
                <value />
            </setting>
            <setting name="check1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
        </BoardGame.Properties.Settings>
    </userSettings>
</configuration>